name = "qobuz-backend"
main = "src/index.js"
compatibility_date = "2024-04-01"
compatibility_flags = ["nodejs_compat"]

[vars]
QOBUZ_APP_ID = ""
QOBUZ_APP_SECRET = ""
QOBUZ_USER_AUTH_TOKEN = ""
QOBUZ_USER_ID = ""
QOBUZ_EMAIL = ""
QOBUZ_PASSWORD = ""
DEFAULT_QUALITY = "6"
API_AUTH_KEY = ""
ALLOWED_ORIGIN = "*"
